<div class="row">
  <div class="offset-md-3 col-md-6">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <p class="card-text">
            NeedEmail.top is a service for disposable temporary emails. Just click generate and a random email will be given to you.
          </p>
          <p class="card-text">
            All mailboxes expire automatically after 7 days and all the stored emails are deleted.
          </p>
        </div>
      </div>
    </div>
    <%= link_to 'Generate Mailbox', mailbox_create_path, method: :post, class: 'btn mb-1 btn-danger glow btn-lg btn-block' %>
  </div>
</div>


<div class="row">
  <div class="offset-md-3 col-md-6">

  </div>
</div>


